<template>
    <div class="prophet-resource-package">
        <div class="resources-popup ">

            <a data-toggle="modal" data-target="#keycards-charts"
               class="btn btn-prophet-soft btn-sm btn-block" style="color: white;">View <i
                    class="far fa-eye"></i></a>

            <!-- Keycards Modal -->
            <div class="modal fade cards" name="keycards" ref="keycards" id="keycards-charts" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog  modal-xl modal-dialog-centered" role="document">
                    <div class="modal-content" >
                        <div class="modal-body" >
                            <div class="container" style="overflow: scroll;">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="button-panel background button-panel-keycards"></div>
                                        <div class="button-panel button-panel-keycards">
                                            <div class="">
                                                <a class="nav-button"
                                                   @click="lastSlide('keycards')"><i class="fas fa-backward"></i>
                                                </a>
                                                <a class="nav-button"
                                                   @click="nextSlide('keycards')"><i class="fas fa-forward"></i>
                                                </a>

                                                <a class="nav-button"
                                                   @click="showKeycardsMenuButtons =!showKeycardsMenuButtons"><i
                                                        class="fas fa-bars"></i> Contents
                                                </a>
                                                <a class="nav-button close-button" data-dismiss="modal"><i
                                                        class="fas fa-times"></i></a>
                                            </div>
                                        </div>
                                        <transition name="fade" appear>
                                            <div v-if="showKeycardsMenuButtons" class="menu-panel  offset-8 col-3">
                                                <div class="btn-group-vertical btn-block menu-panel-buttons">
                                                    <button @click="showSlide('keycards',1)"
                                                            class="btn btn-outline-prophet-soft menu-button">Introduction
                                                    </button>
                                                    <button @click="showSlide('keycards',2)"
                                                            class="btn btn-outline-prophet-soft menu-button">
                                                        Benchmarked<br/>Preference Charts
                                                    </button>
                                                    <button @click="showSlide('keycards',3)"
                                                            class="btn btn-outline-prophet-soft menu-button">2x2 Heat Maps
                                                    </button>
                                                    <button @click="showSlide('keycards',4)"
                                                            class="btn btn-outline-prophet-soft menu-button">Similarities
                                                        Charts
                                                    </button>
                                                    <button @click="showSlide('keycards',5)"
                                                            class="btn btn-outline-prophet-soft menu-button">Headline
                                                        Insight
                                                    </button>
                                                    <button @click="showSlide('keycards',6)"
                                                            class="btn btn-outline-prophet-soft menu-button">Recommendation
                                                    </button>
                                                    <button @click="showSlide('keycards',7)"
                                                            class="btn btn-outline-prophet-soft menu-button">Group Exercise
                                                    </button>
                                                    <button @click="showSlide('keycards',8)"
                                                            class="btn btn-outline-prophet-soft menu-button">Insight Text
                                                    </button>
                                                    <button @click="showSlide('keycards',9)"
                                                            class="btn btn-outline-prophet-soft menu-button">Role Scheme
                                                    </button>
                                                    <br/>
                                                    <button @click="showKeycardsMenuButtons =false"
                                                            class="btn btn-outline-prophet menu-button close-button">Close
                                                    </button>
                                                </div>
                                            </div>
                                        </transition>
                                        <div class="text-center" @click="nextSlide('keycards')">
                                            <div class="slide-progress">{{currentSlideKeycards}}</div>
                                            <img class="img-fluid" v-if="currentSlideKeycards==1"
                                                 src="https://resources.prophet-profile.com/img/keycards/charts/keycard1.jpg" key="slide1">
                                            <img class="img-fluid" v-if="currentSlideKeycards==2"
                                                 src="https://resources.prophet-profile.com/img/keycards/charts/keycard2.jpg" key="slide2">
                                            <img class="img-fluid" v-if="currentSlideKeycards==3"
                                                 src="https://resources.prophet-profile.com/img/keycards/charts/keycard3.jpg" key="slide3">
                                            <img class="img-fluid" v-if="currentSlideKeycards==4"
                                                 src="https://resources.prophet-profile.com/img/keycards/charts/keycard4.jpg" key="slide4">
                                            <img class="img-fluid" v-if="currentSlideKeycards==5"
                                                 src="https://resources.prophet-profile.com/img/keycards/charts/keycard5.jpg" key="slide5">
                                            <img class="img-fluid" v-if="currentSlideKeycards==6"
                                                 src="https://resources.prophet-profile.com/img/keycards/charts/keycard6.jpg" key="slide6">
                                            <img class="img-fluid" v-if="currentSlideKeycards==7"
                                                 src="https://resources.prophet-profile.com/img/keycards/charts/keycard7.jpg" key="slide7">
                                            <img class="img-fluid" v-if="currentSlideKeycards==8"
                                                 src="https://resources.prophet-profile.com/img/keycards/charts/keycard8.jpg" key="slide8">
                                            <img class="img-fluid" v-if="currentSlideKeycards==9"
                                                 src="https://resources.prophet-profile.com/img/keycards/charts/keycard9.jpg" key="slide9">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Keycards",
        data: function () {
            return {
                currentSlideKeycards: 1,
                currentSlideIndividual: 1,
                showKeycardsMenuButtons: false,
            }
        },
        methods: {
            showSlide: function (type, index) {
                if (type == 'keycards') {
                    this.currentSlideKeycards = index
                    this.showKeycardsMenuButtons = false
                } else {
                    this.currentSlideIndividual = index
                }

            },
            nextSlide: function (type) {
                if (this.showKeycardsMenuButtons) {
                    this.showKeycardsMenuButtons = false
                    return
                }

                if (type == 'keycards') {
                    if (this.currentSlideKeycards == 9) {
                        this.currentSlideKeycards = 1
                    } else {
                        this.currentSlideKeycards++
                    }
                } else {
                    if (this.currentSlideIndividual == 8) {
                        this.currentSlideIndividual = 1
                    } else {
                        this.currentSlideIndividual++
                    }
                }

            },
            lastSlide: function (type) {
                if (type == 'keycards') {
                    if (this.currentSlideKeycards == 1) {
                        this.currentSlideKeycards = 9
                    } else {
                        this.currentSlideKeycards--
                    }
                } else {
                    if (this.currentSlideIndividual == 1) {
                        this.currentSlideIndividual = 8
                    } else {
                        this.currentSlideIndividual--
                    }
                }

            },
        }
    }
</script>
<style>
    .prophet-resource-package .resources-popup .page-number {
        font-size: 0.8em;
        color: white;
        position: absolute;
        top: 5px;
        right: 10px;
    }
    @media (min-width: 768px) {
        .prophet-resource-package .modal-xl {
            width: 80%;
            max-width: 1200px;
            max-height: 70%;
        }
    }
    .prophet-resource-package .resources-popup .menu-bar {
        margin-top: 10px;
    }
    .prophet-resource-package .resources-popup .menu-button {
        margin-bottom: 5px;
    }
    .prophet-resource-package .resources-popup .cards .button-panel {
        width: 200px;
        position: absolute;
        padding-left: 3px;
        padding-right: 3px;
    }
    .prophet-resource-package .resources-popup .cards .button-panel .card-progress {
        font-size: 0.8em;
    }
    .prophet-resource-package .resources-popup .cards .nav-button {
        border: 0px solid white;
        color: white;
        margin: 3px;
        padding: 3px;
        font-size: 0.8em;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        height: 2em;
        min-width: 2em;
        cursor: pointer;
    }
    .prophet-resource-package .resources-popup .cards .close-button {
        float: right;
    }
    .prophet-resource-package .resources-popup .cards .button-panel.button-panel-individual {
        top: 5px;
        right: 5px;
    }
    .prophet-resource-package .resources-popup .cards .button-panel.button-panel-keycards {
        top: 15px;
        right: 30%;
    }
    .prophet-resource-package .resources-popup .cards .background {
        height: 30px;
        background-color: white;
        opacity: 0.3;
        padding: 5px;
    }
    .prophet-resource-package .resources-popup .cards .menu-panel {
        position: absolute;
        top: 20px;
        height: 30px;
    }
    .prophet-resource-package .resources-popup .cards .menu-panel-buttons {
        background-color: white;
        padding: 5px;
    }
    .prophet-resource-package .resources-popup .cards .slide-progress {
        position: absolute;
        bottom: 0px;
        right: 0;
        font-size: 0.8em;
    }
</style>